@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Salon samochodowy Kowalewski Cars</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Witamy w naszym salonie samochodowym</h2>
        <p>
            Kowalewski Cars to prawdopodobnie najlepszy salon samochodowy w Poznaniu.
            Salon położony jest na ulicy Piotrowo niedaleko kampusu Politechniki Poznańskiej.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Bogata oferta</h2>
        <p>
            W naszej ofercie znajduje się wiele najpopularniejszych marek samochodowych w Polsce.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Zadowoleni klienci</h2>
        <p>
            Według najnowszych ankiet przeprowadzonej wśród Poznaniaków, nasz salon jest najbardziej polecanym salonem samochodowym na terenie Poznania.
        </p>
    </div>
</div>

