@{
    ViewData["Title"] = "Polityka prywatności";
}
<h1>@ViewData["Title"]</h1>

<p>Dziękujemy za zainteresowanie ochroną danych na naszej stronie internetowej. Chcemy, aby użytkownicy naszej strony czuli się na niej komfortowo i bezpiecznie, a ochronę danych postrzegali jako wyznacznik naszej jakości i dbałości o Klienta.</p>
